certifi==2022.5.18.1
charset-normalizer==2.0.12
cidr-trie==3.1.2
dnspython==2.0.0
idna==3.3
ipwhois==1.2.0
mwclient==0.10.1
oauthlib==3.2.1
persiantools==3.0.1
Pillow==9.3.0
pkg_resources==0.0.0
PyMySQL==1.0.2
regex==2022.6.2
requests==2.27.1
requests-oauthlib==1.3.1
six==1.16.0
toolforge==5.0.0
urllib3==1.26.9
wcwidth==0.2.5
wikitextparser==0.49.2