certifi==2026.1.4
charset-normalizer==3.4.4
cidr-trie==3.1.2
dnspython==2.8.0
idna==3.11
ipwhois==1.3.0
mwclient==0.11.1
mwparserfromhell>=0.7.2
oauthlib==3.3.1
packaging=25.0
persiantools==5.4.0
Pillow==12.1.0
PyMySQL==1.1.2
regex==2026.1.15
requests==2.32.5
requests-oauthlib==3.0.0
six==1.17.0
toolforge==6.1.0
urllib3==2.6.3
wcwidth==0.2.14
